* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100dvw;
  height: 100dvh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(159deg, rgba(0,0,128,1) 0%, rgba(0,191,255,1) 100%);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.btn {
  margin: 1.5%;
  padding: 1.5%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}